button {
    font-size: 1.5rem;
    color: white;
    background: none;
    border: 2px solid white;
    border-radius: 2rem;
    padding: 1rem;
    opacity: .7;
    cursor: pointer;
    transition: .1s all linear;
    margin: 1rem;
}

button:hover {
    opacity: 1;
}

.button-active {
    opacity: 1;
    background-color: #1ed760;
    border-color: #1ed760;
    color: black;
}